<h1>Наши контакты:</h1>
<p>
    <span style="font-size: 12pt;"><strong>Проезд от вокзала</strong>:</span>
</p>
<p>
    <strong>Автобус</strong>:<br />
    1, 20, 21, 21а, 30 - до остановки &laquo;Завод измерительных приборов&raquo;<br />
    4, 4а, - до остановки &laquo;Музпедколледж&raquo;<br />
    <strong>Троллейбус</strong>:<br />
    5, 7, 7а - до остановки &laquo;Завод измерительных приборов&raquo;
</p>
<p>
    <strong>Юридический адрес</strong>:<br />
    246001, ул. Фрунзе, 7а, г.Гомель<br />
    <strong>Телефоны</strong>:<br />
    Приёмная +375(232) 79 65 66, т/ф 75 53 25<br />
    Заместитель директора +375(232) 79 64 05
</p>
<p>
    E-mail: <a href="mailto:u_center@gomel.energo.net.by">u_center@gomelenergo.by</a>
</p>
<p>
    <br />
    Банковские реквизиты:<br />
    BY10BPSB30121124760279330000<br />
    Региональная Дирекция №300<br />
    ОАО &laquo;БПС-Сбербанк&raquo;<br />
    BIC BPSBBY2X<br />
    УНП: 400069497<br />
    ОКПО: 00105029
</p>
<p>
